# Sentiment-Based Book Recommendation Logic (Non-Interactive)

This notebook demonstrates the core logic of a sentiment aware book recommender system.
It uses TextBlob to analyze review sentiment and suggests alternative books that the user may enjoy.

### Importing Needed Libraries

In [3]:
import pandas as pd

### Step 1: Load the Data

In [5]:
df = pd.read_csv(r"C:\book-sentiment-project\data\Book Reviews.csv")
df.head()

,Unnamed: 0,Book,Review,Review Date
0,0,To Kill a Mockingbird,/// gentle reminder that this is not the time ...,"March 24, 2022"
1,1,To Kill a Mockingbird,\n|\n|6.0 stars. I know I am risking a serious...,"May 24, 2011"
2,2,To Kill a Mockingbird,\n|\n|Looking for a new book but don't want to...,"December 10, 2020"
3,3,To Kill a Mockingbird,"To Kill a Mockingbird, Harper Lee|To Kill a Mo...","July 1, 2022"
4,4,To Kill a Mockingbird,Why is it when I pick up | To Kill A Mockingbi...,"October 25, 2009"

In [ ]:
# Remove unwanted characters
df["Review"] = df["Review"].str.replace("\n", "", regex=True)
df["Review"] = df["Review"].str.replace("[/|]", "", regex=True)
df["Review"] = df["Review"].str.strip()
df.head()

,Unnamed: 0,Book,Review,Review Date
0,0,To Kill a Mockingbird,gentle reminder that this is not the time to r...,"March 24, 2022"
1,1,To Kill a Mockingbird,6.0 stars. I know I am risking a serious “FILM...,"May 24, 2011"
2,2,To Kill a Mockingbird,Looking for a new book but don't want to commi...,"December 10, 2020"
3,3,To Kill a Mockingbird,"To Kill a Mockingbird, Harper LeeTo Kill a Moc...","July 1, 2022"
4,4,To Kill a Mockingbird,Why is it when I pick up To Kill A Mockingbir...,"October 25, 2009"

In [ ]:
# Checking if there are any nulls
df.isnull().sum()

# There are 309 rows missing in the "Review" column

Unnamed: 0       0
Book             0
Review         309
Review Date      0
dtype: int64

In [ ]:
# Remove rows where "Review" column is null and update the df
df = df.dropna(subset=["Review"])

In [14]:
# Checking if all nulls were dropped
df.isnull().sum()

Unnamed: 0     0
Book           0
Review         0
Review Date    0
dtype: int64

### Filter Language to only English